@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    var cars = Model.Cars;
    var firstCar = cars.Any() ? cars[0] : null;
    var secondCar = cars.Count() > 1 ? cars[1] : null;
    var thirdCar = cars.Count() > 2 ? cars[2] : null;
}

@if (!cars.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for renting cars!</h1>
        <p class="lead">There are no cars in the system yet!</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add car</a>
        </p>
    </div>
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            @if (firstCar != null)
            {
                <img class="d-block w-100" src="@firstCar.ImageUrl" alt="@firstCar.Brand @firstCar.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@firstCar.Brand @firstCar.Model @firstCar.Year</h5>
                </div>
            }
        </div>
        <div class="carousel-item">

            @if (secondCar != null)
            {
                <img class="d-block w-100" src="@secondCar.ImageUrl" alt="@secondCar.Brand @secondCar.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@secondCar.Brand @secondCar.Model @secondCar.Year</h5>
                </div>
            }
        </div>
    </div>
    <div class="carousel-item">

        @if (thirdCar != null)
        {
            <img class="d-block w-100" src="@thirdCar.ImageUrl" alt="@thirdCar.Brand @thirdCar.Model">
            <div class="carousel-caption d-none d-md-block">
                <h5>@thirdCar.Brand @thirdCar.Model @thirdCar.Year</h5>
            </div>
        }
    </div>
</div>
    
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>

<div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                @Model.TotalCars Total Cars
            </div>
            <div class="col-md-4">
                @Model.TotalUsers Total Users
            </div>
            <div class="col-md-4">
                @Model.TotalRents Total Rents
            </div>
        </div>
    </div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
